
<!-- <h1>Ana component</h1>
<br>
<h1>Pipe component</h1>
<app-pipe></app-pipe>
<h1>Form component</h1>
<app-formcomp></app-formcomp>
<h1>Reactive forms component</h1>
<app-reactive-forms></app-reactive-forms>
<h1>Services / dependecy Injection</h1>
<app-firstservicecomponent></app-firstservicecomponent>
<app-secondservicecomponent></app-secondservicecomponent> -->

<!-- Route eğitimi başladı bu adımdan sonra -->
<ul>
    <li><a routerLink="/home"> Home</a> </li>
    <li><a routerLink="/about"> About</a></li>
</ul>

<router-outlet></router-outlet>